registry=https://registry.npmmirror.com/
legacy-peer-deps=true
network-timeout=600000
fetch-retries=10
fetch-retry-factor=10
fetch-retry-mintimeout=40000
fetch-retry-maxtimeout=240000
unsafe-perm=true
strict-ssl=false
